{{>header}}
<br><br><br>
<div class="col-lg-4 mx-auto">
<form action="/forgot" method="post"> 

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form3Example3" class="form-control" name="email"/>
    <label class="form-label" for="form3Example3">Email address</label>
  </div>


  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">submit </button>

</form>
<a href="" class="btn btn-info">Forgot password</a>
</div>



{{>footer}}