{{>header}}
<br><br><br>
<div class="col-lg-4 mx-auto">
<form action="/login" method="post"> 

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form3Example3" class="form-control" name="email"/>
    <label class="form-label" for="form3Example3">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form3Example4" class="form-control" name="password"/>
    <label class="form-label" for="form3Example4">Password</label>
  </div>

 

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">login </button>

</form>
<a href="/forgot" class="btn btn-info">Forgot password</a>
</div>



{{>footer}}