{{>header}}
<br><br><br>
<div class="col-lg-4 mx-auto">
  {{!-- {{users}} --}}
<form action="/newPassword" method="post"> 

  <!-- Email input -->
  <input type="hidden" value="{{users}}" name="email" id="">
  <div class="form-outline mb-4">
    <input type="password" id="form3Example3" class="form-control" name="password"/>
    <label class="form-label" for="form3Example3">Password</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form3Example4" class="form-control" name="Conpassword"/>
    <label class="form-label" for="form3Example4">ConfirmPassword</label>
  </div>

 

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Submit </button>

</form>
</div>



{{>footer}}